<a href="https://colab.research.google.com/github/Tdavies92/AcademyPublic/blob/main/FPL%20(alternative%20solution).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import requests
import pandas as pd
import numpy as np

In [28]:
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'

In [29]:
#use the requests package to make a GET request from the API endpoint:

r = requests.get(url)

In [30]:
#transform that request into a json object
json = r.json()

In [31]:
#output the keys from the data set
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [32]:
#build three sub-datasets from the main data set
elements_df = pd.DataFrame(json['elements'])
elements_types_df = pd.DataFrame(json['element_types'])
teams_df = pd.DataFrame(json['teams'])

In [33]:
elements_df.head()

   chance_of_playing_next_round  ...  penalties_text
0                           NaN  ...
1                           0.0  ...
2                           0.0  ...
3                         100.0  ...
4                           NaN  ...

[5 rows x 67 columns]

In [34]:
#display all of the player features
elements_df.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text'],
      dtype='object')

In [35]:
#keep only features required
slim_elements_df = elements_df[['second_name','team','element_type','selected_by_percent','now_cost','minutes','transfers_in','value_season','total_points', 'bonus']]
slim_elements_df.head()

       second_name  team  element_type  ... value_season  total_points  bonus
0             Leno     1             1  ...          0.9             4      0
1        Rúnarsson     1             1  ...          0.0             0      0
2  Borges Da Silva     1             3  ...          0.0             0      0
3       Aubameyang     1             4  ...          4.0            40      7
4           Soares     1             2  ...          0.2             1      0

[5 rows x 10 columns]

In [36]:
elements_types_df.head()

   id  plural_name  ... sub_positions_locked element_count
0   1  Goalkeepers  ...                 [12]            72
1   2    Defenders  ...                   []           213
2   3  Midfielders  ...                   []           260
3   4     Forwards  ...                   []            86

[4 rows x 11 columns]

In [37]:
#bring in 'singular_name' from the elements_types table to the slim_elements_df table
slim_elements_df['position'] = slim_elements_df.element_type.map(elements_types_df.set_index('id').singular_name)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
slim_elements_df.head()

       second_name  team  element_type  ... total_points  bonus    position
0             Leno     1             1  ...            4      0  Goalkeeper
1        Rúnarsson     1             1  ...            0      0  Goalkeeper
2  Borges Da Silva     1             3  ...            0      0  Midfielder
3       Aubameyang     1             4  ...           40      7     Forward
4           Soares     1             2  ...            1      0    Defender

[5 rows x 11 columns]

In [39]:
teams_df.head()

   code  draw  form  ...  strength_defence_home  strength_defence_away pulse_id
0     3     0  None  ...                   1110                   1170        1
1     7     0  None  ...                   1130                   1160        2
2    94     0  None  ...                   1100                   1150      130
3    36     0  None  ...                   1090                   1130      131
4    90     0  None  ...                   1060                   1100       43

[5 rows x 21 columns]

In [40]:
#bring in the team name
slim_elements_df['team'] = slim_elements_df.team.map(teams_df.set_index('id').name)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [41]:
slim_elements_df.head()

       second_name     team  element_type  ... total_points  bonus    position
0             Leno  Arsenal             1  ...            4      0  Goalkeeper
1        Rúnarsson  Arsenal             1  ...            0      0  Goalkeeper
2  Borges Da Silva  Arsenal             3  ...            0      0  Midfielder
3       Aubameyang  Arsenal             4  ...           40      7     Forward
4           Soares  Arsenal             2  ...            1      0    Defender

[5 rows x 11 columns]

In [42]:
#convert all value_season entries to float
slim_elements_df['value'] = slim_elements_df.value_season.astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [43]:
#sort the dataframe by decending value
slim_elements_df.sort_values('value',ascending=False).head(20)

          second_name            team  element_type  ... bonus    position  value
187             James         Chelsea             2  ...    13    Defender   12.3
367           Cancelo        Man City             2  ...    12    Defender   12.0
173           Rüdiger         Chelsea             2  ...     4    Defender   11.4
195         Gallagher  Crystal Palace             3  ...     9  Midfielder   11.2
494        Livramento     Southampton             2  ...     2    Defender   10.7
190          Chalobah         Chelsea             2  ...     5    Defender   10.4
477          McCarthy     Southampton             1  ...     3  Goalkeeper   10.4
561            Dennis         Watford             4  ...     8     Forward   10.4
341  Alexander-Arnold       Liverpool             2  ...    15    Defender   10.1
76              Henry       Brentford             2  ...     3    Defender   10.0
105             Duffy        Brighton             2  ...     3    Defender   10.0
196            Guaita  Crystal Palace             1  ...     3  Goalkeeper   10.0
19         Smith Rowe         Arsenal             3  ...     6  Midfielder   10.0
518          Reguilón           Spurs             2  ...     5    Defender    9.8
33           Ramsdale         Arsenal             1  ...     5  Goalkeeper    9.8
245          Townsend         Everton             3  ...     8  Midfielder    9.6
337             Salah       Liverpool             3  ...    16  Midfielder    9.6
231             Keane         Everton             2  ...     6    Defender    9.6
623    Malheiro de Sá          Wolves             1  ...     4  Goalkeeper    9.6
45              Mings     Aston Villa             2  ...     7    Defender    9.4

[20 rows x 12 columns]